<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#authors">Авторы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#books">Книги</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#covers">Переплёт</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#editions">Количество изданий</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#publishYears">Года изданий</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/templates/signup.html">Регистрация</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div align="center">
    <h1>Авторы</h1>
    <div id="authors" class="d-flex flex-row">
        <div class="col-md-4">
            <button><a href="/allAuthors">Список всех</a> </button>
            <div th:each="el: ${authors}">
                <span th:text="${el.firstName}"></span>
                <span th:text="${el.lastName}"></span>
                <span th:text="${el.patronymic}"></span>
            </div>
        </div>
        <form action="/addAuthor" method="post" class="col-md-4" >
            <label for="FormInput1" class="form-label">Имя</label>
            <input type="text" class="form-control" id="FormInput1" placeholder="Имя" name="firstName">
            <label for="FormInput2" class="form-label">Фамилия</label>
            <input type="text" class="form-control" id="FormInput2" placeholder="Фамилия" name="lastName">
            <label for="FormInput3" class="form-label">Отчество</label>
            <input type="text" class="form-control" id="FormInput3" placeholder="Отчество" name="patronymic">
            <input type="submit" value="Добавить">
        </form>

    </div>
    <h2>Книги</h2>
    <div id="books" class="d-flex flex-row">
        <div class="col-md-4">
            <button><a href="/allBooks">Список всех</a> </button>
            <div th:each="bookMap:${books}">
                <div th:each="book:${bookMap.entrySet()}">
                    <span th:text="${book.getKey()}"></span>
                    <span th:text="${book.getValue()}"></span>
                </div>
            </div>
        </div>
        <form action="/addBook" method="post" class="col-md-4" >
            <label for="FormInput4" class="form-label">Имя автора</label>
            <input type="text" class="form-control" id="FormInput4" placeholder="Имя автора" name="firstName">
            <label for="FormInput5" class="form-label">Фамилия автора</label>
            <input type="text" class="form-control" id="FormInput5" placeholder="Фамилия автора" name="lastName">
            <label for="FormInput6" class="form-label">Отчество автора</label>
            <input type="text" class="form-control" id="FormInput6" placeholder="Отчество автора" name="patronymic">
            <label for="FormInput7" class="form-label">Название</label>
            <input type="text" class="form-control" id="FormInput7" placeholder="Название" name="name">
            <label for="FormInput8" class="form-label">Год издания</label>
            <input type="number" class="form-control" id="FormInput8" placeholder="Год издания" name="publishYear">
            <label for="FormInput9" class="form-label">Количество изданий</label>
            <input type="number" class="form-control" id="FormInput9" placeholder="Количество изданий" name="edition">
            <label for="FormInput10" class="form-label">Переплёт</label>
            <input type="text" class="form-control" id="FormInput10" placeholder="Переплёт" name="cover">
            <label for="FormInput11" class="form-label">ISBN</label>
            <input type="text" class="form-control" id="FormInput11" placeholder="isbn" name="isbn">
            <input type="hidden" class="form-control" name="user" value="">
            <input type="submit" value="Добавить">
        </form>
    </div>
    <h2>Переплёт</h2>
    <div id="covers" class="d-flex flex-row">
        <div class="col-md-4">
            <button><a href="/allCovers">Список всех</a> </button>
            <div th:each="el: ${covers}">
                <span th:text="${el.getName()}"></span>
            </div>
        </div>
        <form action="/addCover" method="post" class="col-md-4" >
            <label for="FormInput12" class="form-label">Название</label>
            <input type="text" class="form-control" id="FormInput12" placeholder="Название" name="cover">
            <input type="submit" value="Добавить">
        </form>
    </div>
    <h2>Количество изданий</h2>
    <div id="editions" class="d-flex flex-row">
        <div class="col-md-4">
            <button><a href="/allEditions">Список всех</a> </button>
            <div th:each="el: ${editions}">
                <span th:text="${el.getValue()}"></span>
            </div>
        </div>
        <form action="/addEdition" method="post" class="col-md-4">
            <label for="FormInput13" class="form-label">Количество изданий</label>
            <input type="number" class="form-control" id="FormInput13" placeholder="Название" name="edition">
            <input type="submit" value="Добавить">

        </form>
    </div>
    <h2>Года изданий</h2>
    <div id="publishYears" class="d-flex flex-row">
        <div class="col-md-4">
            <button><a href="/allPublishYears">Список всех</a> </button>
            <div th:each="el: ${publishYears}">
                <span th:text="${el.getYear()}"></span>
            </div>
        </div>
        <form action="/addPublishYear" method="post" class="col-md-4">
            <label for="FormInput14" class="form-label">Год</label>
            <input type="text" class="form-control" id="FormInput14" placeholder="Название" name="publishYear">
            <input type="submit" value="Добавить">

        </form>
    </div>
</div>
</body>
</html>